<% if ! @settings.has_key?('0') %>
  <% @settings['0'] = {'months': '3', 'month_shift': '0'} %>
  <% if ! @settings['0'].has_key?('months') %>
    <% @settings['0']['months'] = '3' %>
  <% end %>
  <% if ! @settings['0'].has_key?('month_shift') %>
    <% @settings['0']['month_shift'] = '0' %>
  <% end %>
<% end %>

<p>
  <label>months</label>
  <%= number_field_tag 'settings[0][months]', @settings['0'][:months], step: 1, min: 1 %>
</p>
<p>
  <label>month shift</label>
  <%= number_field_tag 'settings[0][month_shift]', @settings['0'][:month_shift], step: 1 %>
</p>

  <% @settings.each do |key, value| %>
    <% if key != '0' %>
      <%= hidden_field_tag 'settings[' + key + '][months]', @settings[key][:months] %>
      <%= hidden_field_tag 'settings[' + key + '][month_shift]', @settings[key][:month_shift] %>
    <% end %>
  <% end %>